/* @import "icons/all.css"; */
@import "/css/all.css";
@import "/css/variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f3f6;
  color: #080808;
  font-size: 18px;
  height: 100vh;
}

img {
  width: 100%;
}

textarea {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--primary-color);
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  height: 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-text {
  padding: 10px 10%;
}

nav {
  transform: translateX(0);
  position: unset;
  display: block;
  width: auto;
  height: auto;
  background: none;
}

nav ul {
  display: flex;
  margin-top: 0px;
}

nav ul li {
  display: inline-block;
  padding: 0px;
}
nav ul li a {
  padding: 20px;
}

/* javascript hamburger */

.menu {
  display: none;
}

.close {
  display: none;
}

.logo-container {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  border-radius: 50%;
}

.logo {
  font-family: "Peralta", Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 32px;
}

nav ul li a {
  font-size: 18px;
  position: relative;
  color: #6e07f3;
}

/* created a border under the menu link and hid it , On hover it will show */

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  background: #6e07f3;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  font-size: 1.125rem;
  padding: 20rem 10%;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.header-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.header-text h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.header-text h3 span {
  color: #6e07f3;
  font-size: 2.5rem;
}

.cta {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1em;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 30px;
  transition: background-color 0.5s;
}

.cta:hover {
  border: 1px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
}

.btn {
  display: block;
  width: fit-content;
  border: 1px solid #febe00;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.5s;
}

/* ---------about Me--------------- */
#about {
  width: 100%;
  padding: 100px 0px 80px;
  background-color: #6e07f3;
  color: #fff;
  margin-top: 250px;
}

.about-content {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  padding: 5rem 3rem 18rem;
}

.about-content p {
  text-align: left;
}

/* --------skill--------- */

.skills-section {
  margin: -16rem auto 0rem;
  padding: 5rem 2rem;
  background-color: #fff;
  color: #080808;
  max-width: 1400px;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}
.row,
.about-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.about-row > * {
  flex: 1;
}

.skill-text {
  width: 100%;
  margin: 1.5rem auto;
  max-width: 60%;
  min-height: 100px;
}

.skill-heading,
.skill-para,
.tools-heading {
  margin-top: 50px;
  margin-bottom: 10px;
}

.icon-container {
  background-color: #6e07f3;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.icon-container i {
  font-size: 1.5rem;
  padding: 4px;
}

.column-left ul li,
.column-right ul li {
  line-height: 2;
}

/* --------- Recent projects---------- */

#projects {
  padding: 50px 0;
  border: 2px solid green;
}

.work-heading {
  margin: 50px auto;
}

.project-container {
  color: #fff;
  text-align: center;
  background-color: #6e07f3;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 5rem 3rem 1rem;
}

.project-container p {
  max-width: 800px;
  margin: 0px auto;
  text-align: left;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 30px 60px;
  border-radius: 25px;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}

.project img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #080808);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 24px;
  color: #febe00;
}

.layer a {
  margin-top: 20px;
  color: #6e07f3;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.layer p {
  text-align: center;
  margin-bottom: 30px;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
}

/* -----------contact------------- */

#contact {
  padding-top: 5rem;
}

.contact-container {
  background-color: #262626;
  color: #fff;
  padding: 5rem auto 0;
  border: 2px solid red;
}

.contact-row {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.contact-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 30px;
}

.contact-left h1 {
  color: #febe00;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-form {
  padding: 30px 40px;
  border-radius: 20px;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #febe00;
  margin-right: 10px;
}

/* social media */

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #febe00;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #f7ecec;
  transform: translateY(-5px);
}

.btn.btn-download {
  display: inline-block;
  color: #febe00;
  margin-top: 40px;
}

.btn.btn-download:hover {
  background-color: #febe00;
  color: #2b2929;
}

/* ----------Contact Form----------- */

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #f7ecec;
  padding: 10px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 6px;
}

form .btn-submit {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #febe00;
  color: var(--secondary-color);
  border: none;
}

form .btn-submit:hover {
  border: 1px solid #febe00;
  background-color: #2b2929;
  color: #febe00;
}

/* input error in form */

label {
  display: block;
  margin-top: 1rem;
}

.input-error {
  display: none;
  color: #febe00;
  font-size: 0.9rem;
  margin-top: 2px;
  margin-bottom: 20px;
}

#msg {
  margin-top: 20px;
  display: block;
}

.success-message {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  max-width: 500px;
  margin: 10px auto 20px;
}

/* -------footer--------- */

footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #6e07f3;
  font-weight: 300;
}

.footer-content {
  padding: 15px;
  font-size: 1rem;
  color: #fff;
}

/* form success message */

.sub-title {
  margin-bottom: 30px;
}

/* tooltip on github and live icon on project section */

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Style text tooltip */
.tooltipText {
  background-color: #fff;
  color: #080808;
  position: absolute;
  top: 30%;
  left: 120%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.5s;
}

.tooltipText::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  left: 40%;
  margin-left: 5%;
}

/* Hover text tooltip */
.tooltip:hover .tooltipText {
  opacity: 1;
  transform: translateY(-10px);
}
